---
import Layout from '../layouts/Layout.astro'
import Inputs from '../components/Inputs'
import Grafica from '../components/Grafica.tsx'
---

<Layout>
	<main class="">
        <Inputs client:load/>
        <Grafica client:load/>
    </main>
</Layout>
