---
import Layout from "@/layouts/Layout.astro";
import StartStop from "@/components/StartStop.tsx";
import Inputs from "@/components/Inputs.tsx";
---

<Layout>
    <main class="">
        <Inputs client:load />
        <!-- <Grafica client:load /> -->
        <StartStop client:load />
    </main>
</Layout>
